{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-attribute" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <input type="text" name="attribute_description[{{ language.language_id }}][name]" value="{{ attribute_description[language.language_id] ? attribute_description[language.language_id].name }}" placeholder="{{ entry_name }}" class="form-control" />
              </div>
              {% if error_name[language.language_id] %}
              <div class="text-danger">{{ error_name[language.language_id] }}</div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-attribute-group">{{ entry_attribute_group }}</label>
            <div class="col-sm-10">
              <select name="attribute_group_id" id="input-attribute-group" class="form-control">
                <option value="0"></option>
                {% for attribute_group in attribute_groups %}
                {% if attribute_group.attribute_group_id == attribute_group_id %}
                <option value="{{ attribute_group.attribute_group_id }}" selected="selected">{{ attribute_group.name }}</option>
                {% else %}
                <option value="{{ attribute_group.attribute_group_id }}">{{ attribute_group.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
              {% if error_attribute_group %}
              <div class="text-danger">{{ error_attribute_group }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>

		{% if (module_atpresets_installed==1)  %}			
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ text_preset_values }}</label>
            <div class="col-sm-10">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  {% set pcount=0 %}
				  {% for preset in presets %}
					  <input type="hidden" name="presets[{{ pcount }}][preset_id]" value="{{ preset.preset_id }}" />
					  <input type="hidden" name="presets[{{ pcount }}][text]" value="{{ preset.text }}" />
					  {% if (languages|length>1)  %}
					  <div class="panel panel-default" id="preset{{ pcount }}">					  
						<a data-toggle="collapse" data-parent="#accordion" href="#stv_collapse{{ pcount }}" aria-expanded="true" aria-controls="stv_collapse{{ pcount }}">
							<div class="panel-heading " role="tab" id="heading{{ pcount }}" style="background-color: #EEE;">
							  <h4 class="panel-title" {% if (error_presets[preset.preset_id] is defined)  %}style="color:red;"{% endif %} >
								{{ preset.text_short }}
								<div class="pull-right"><i class="fa fa-trash-o" onclick="$('#preset{{ pcount }}').remove();$('input[name^=\'presets[{{ pcount }}][text]\']').remove();"></i></div>
							  </h4>							  
							</div>
						</a>
						<div id="stv_collapse{{ pcount }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ pcount }}">
						  <div class="panel-body">	
							  {% for language in languages  %}
								  <div class="input-group" style="margin-bottom:10px"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
	
								  	<span onclick="copy_values({{ pcount }},{{ language.language_id }});" class="input-group-addon" style="cursor:pointer;cursor:hand;" title="{{ text_copy_value }}">
										<i class="fa fa-ellipsis-v" style="font-size: large;"></i>
									</span>

									<textarea name="presets[{{ pcount }}][descriptions][{{ language.language_id }}]" rows="1" placeholder="{{ entry_value }}" class="form-control">{% if preset.descriptions[language.language_id] is defined %}{{ preset.descriptions[language.language_id] }}{% else %}{{ '' }}{% endif %}</textarea>
								  </div>
							  {% endfor %}
						  </div>
						</div>
					  </div>
					  {% else %}
						<div class="panel panel-default" id="preset{{ pcount }}">
							  {% for language in languages %}
								  <div class="input-group" style="margin-bottom:10px">
								  <span class="input-group-addon" style="cursor:pointer;cursor:hand;">
									<i class="fa fa-trash-o fa-lg" onclick="$('#preset{{ pcount }}').remove();$('input[name^=\'presets[{{ pcount }}][text]\']').remove();"></i>
								  </span>										  
								  <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
								  
								  <textarea name="presets[{{ pcount }}][descriptions][{{ language.language_id }}]" rows="1" placeholder="{{ entry_value }}" class="form-control">{% if preset.descriptions[language.language_id] is defined %}{{ preset.descriptions[language.language_id] }}{% else %}{{ '' }}{% endif %}</textarea>
								  </div>
							  {% endfor %}
						  </div>
					  {% endif %}					  
					  			
					  {% set pcount = pcount + 1 %}
				  {% endfor %}
			   </div>
			   <div class="pull-right"><a class="btn btn-primary" onclick="addPreset();">{{ text_add_preset }}</a></div>			   
			  {% if (error_presets is defined) %}
				<div class="text-danger"></div>
			  {% endif %}			   
            </div>
          </div>
		{% endif %}
				
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript"><!--
var pcount = {{ pcount }};

function addPreset() {
{% if (languages|length >1)  %}
	html  = '	  <input type="hidden" name="presets[' + pcount + '][preset_id]" value="0" />';
	html += '	  <input type="hidden" name="presets[' + pcount + '][text]" value="New Preset " />';
	html += '	  <div class="panel panel-default" id="preset' + pcount + '">';
	html += '		<a data-toggle="collapse" data-parent="#accordion" href="#stv_collapse' + pcount + '" aria-expanded="true" aria-controls="stv_collapse' + pcount + '">';
	html += '			<div class="panel-heading " role="tab" id="heading' + pcount + '" style="background-color: #EEE;">';
	html += '			  <h4 class="panel-title">';
	html += '				New Preset '+ pcount;
	html += '				<div class="pull-right"><i class="fa fa-trash-o" onclick="$(\'#preset' + pcount + '\').remove();$(\'input[name^=\\\'presets[' + pcount + '][text]\\\']\').remove();"></i></div>';
	html += '			  </h4>';
	html += '			</div>';
	html += '		</a>';
	html += '		<div id="stv_collapse' + pcount + '" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading' + pcount + '">';
	html += '		  <div class="panel-body">	';
	{% for language in languages %}
	html += '				  <div class="input-group" style="margin-bottom:10px"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';

	html += '					<span onclick="copy_values(' + pcount + ',{{ language.language_id }})" class="input-group-addon" style="cursor:pointer;cursor:hand;" title="{{ text_copy_value }}">';
	html += '						<i class="fa fa-ellipsis-v" style="font-size: large;"></i>';
	html += '					</span>';

	html += '					<textarea name="presets[' + pcount + '][descriptions][{{ language.language_id }}]" rows="1" placeholder="{{ entry_value }}" class="form-control"></textarea>';
	html += '				  </div>';
	{% endfor %}
	html += '		  </div>';
	html += '		</div>';
	html += '	  </div>';

	$('[id^=\'stv_collapse\']').removeClass("in");
{% else %}
	html  = '	  <input type="hidden" name="presets[' + pcount + '][preset_id]" value="0" />';
	html += '	  <input type="hidden" name="presets[' + pcount + '][text]" value="New Preset " />';
	html += '			<div class="panel panel-default" id="preset' + pcount + '">';
				{% for language in languages %}
	html += '					  <div class="input-group" style="margin-bottom:10px">';
	html += '					  <span class="input-group-addon" style="cursor:pointer;cursor:hand;">';
	html += '						<i class="fa fa-trash-o fa-lg" onclick="$(\'#preset' + pcount + '\').remove();$(\'input[name^=\\\'presets[' + pcount + '][text]\\\']\').remove();"></i>';
	html += '					  </span>';
	html += '					  <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '					  ';
	html += '					  <textarea name="presets[' + pcount + '][descriptions][{{ language.language_id }}]" rows="1" placeholder="{{ entry_value }}" class="form-control"></textarea>';
	html += '					  </div>';
				{% endfor %}
	html += '			  </div>';
	
{% endif %}		
	$('#accordion').append(html);
	$('textarea[name=\'presets[' + pcount + '][descriptions][{% set first = languages|first %}{{ first.language_id }}]\']').focus();
	
	pcount++;
}

function copy_values(preset_count, language_id){
	var new_value = $('textarea[name=\'presets[' + preset_count + '][descriptions][' + language_id + ']\']').val();
	$('textarea[name^=\'presets[' + preset_count + '][descriptions]\']').val(new_value);
}
//--></script>   
				
</div>
{{ footer }}
