<div class="tabbable tabs-left" id="gifts_tabs">
    <ul class="nav nav-tabs gifts-list">
        <li class="static"><a class="addNewGiftCategory"><i class="fa fa-plus"></i> Add New Gift Tier</a></li>
        {% for giftcategory in moduleData.GiftCategory %}
        <li><a href="#giftcategory_{{ giftcategory.id }}" data-toggle="tab" data-giftcategory-id="{{ giftcategory.id }}"><i class="fa fa-pencil-square-o"></i> {{ giftcategory.Name ? giftcategory.Name : 'Gift Tier '~giftcategory.id }} <i class="fa fa-minus-circle removeGiftCategory"></i>
            <input type="hidden" name="{{ moduleName }}[GiftCategory][{{ giftcategory.id }}][id]" value="{{ giftcategory.id }}" />
            </a> </li>
        {% endfor %}
    </ul>
    <div class="tab-content gifts-settings">
        {% for giftcategory in moduleData.GiftCategory %}

        	{% set giftcategory_name = moduleName~"[GiftCategory][#{giftcategory.id}]" %}

        	{% set giftcategory_data = giftcategory %}

            <div id="giftcategory_{{ giftcategory.id }}" class="tab-pane giftcategory" style="width:99%;overflow:hidden;">
			  <div class="row">
				 <div class="col-md-3">
					<h5><strong><span class="required">* </span>Gift Tier {{ giftcategory.id }} status:</strong></h5>
					<span class="help"><i class="fa fa-info-circle"></i>&nbsp;Enable or disable the gifts tier categories.</span>
				 </div>
				 <div class="col-md-3">
					<select id="Checker" name="{{ giftcategory_name }}[Enabled]" class="form-control">
					   <option value="yes" {{ giftcategory_data.Enabled and giftcategory_data.Enabled == 'yes' ? 'selected=selected' : ''}}>Enabled</option>
					   <option value="no"  {{ giftcategory_data.Enabled and giftcategory_data.Enabled == 'no' ? 'selected=selected' : ''}}>Disabled</option>
					</select>
				 </div>
			  </div>
			  <br />

			  <div class="row">
				<br />
				<div class="col-md-3">
				  <h5><strong>Gift Tier {{ giftcategory.id }} name:</strong></h5>
				  <span class="help"><i class="fa fa-info-circle"></i>&nbsp;Set the name of the template which will show up on the left column.</span>
				</div>
				<div class="col-md-3">
				  <input type="text" class="form-control" name="{{ giftcategory_name }}[Name]" value="{{ giftcategory_data.Name ? giftcategory_data.Name : 'Gift Tier '~giftcategory.id  }}" />
				</div>
			  </div>

			  <br />
			  <div class="row">
				<br />
				<div class="col-md-3">
				  <h5><strong>Minimum cart value:</strong></h5>
				  <span class="help"><i class="fa fa-info-circle"></i>&nbsp;Set minimum value of the shopping cart, which will be needed in order for the customer to be eligible for the gifts in this tier.</span>
				</div>
				<div class="col-md-3">
					<div class="input-group"> 
						<span class="input-group-addon">{{ currency }}</span>
						<input type="number" name="{{ giftcategory_name }}[CartValue]" value="{{ giftcategory_data.CartValue ? giftcategory_data.CartValue : '100.00' }}" min="0.00" step="1.00" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" />
					</div> 
				</div>
			  </div>

			  <br />
			  <div class="row">
				<br />
				<div class="col-md-3">
				  <h5><strong>Gifts in this tier:</strong></h5>
				  <span class="help"><i class="fa fa-info-circle"></i>&nbsp;Choose unique products to be part of this gift tier.</span>
				</div>
				<div class="col-md-3">
				  <input type="text" name="ProductsInGiftCategory" data-giftcategory-id="{{ giftcategory.id }}" value="" placeholder="Start typing..." id="input-productingiftcategory" class="form-control" autocomplete="off">
				  <div class="well well-sm product-gifts-category" style="height: 150px; overflow: auto;">
					{% for product in giftcategory_data.GiftProducts %}
					  <div id="productgift_{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
						<input type="hidden" name="{{ giftcategory_name }}[GiftProducts][]" value="{{ product.product_id }}" />
					  </div>
					{% endfor %}
				  </div>
				</div>
			  </div>

			  <br/>
			  <div class="row">
				<br />
				<div class="col-md-3">
				  <h5><strong>Eligible text:</strong></h5>
				  <span class="help"><i class="fa fa-info-circle"></i>&nbsp;When a customer is eligible for a gift this text will show above the gifts tier.</span>
				  <br /><br /><span class="help"><i class="fa fa-info-circle"></i>&nbsp;You can use the folowing codes:<br/> {category_value} - Minimum cart value</span>
				</div>
				<div class="col-md-3">
				  {% for language in languages %}
				  <div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon"><img src="{{ language.flag_url }}" title="{{ language.name }}"></span>
					  <input type="text" class="form-control" name="{{ giftcategory_name }}[Suitable][{{ language.language_id }}]" value="{{ giftcategory_data.Suitable[language.language_id] ? giftcategory_data.Suitable[language.language_id] : default_eligible  }}" />
					</div>
				  </div>
				  {% endfor %}
				</div>
			  </div>

			  <br />
			  <div class="row">
				 <br />
				 <div class="col-md-3">
					<h5><strong>NOT eligible text:</strong></h5>
					<span class="help"><i class="fa fa-info-circle"></i>&nbsp;When a customer is NOT eligible for a gift this text will show above the gifts tier. <br /> P.S. This is a great way to tease customers to spend more.</span>
					<br /><br /><span class="help"><i class="fa fa-info-circle"></i>&nbsp;You can use the folowing codes:<br/> {category_value} - Minimum cart value <br/> {spend_remaining} - The remaining for being suitable for this gift</span>
				 </div>
				 <div class="col-md-3">
				  {% for language in languages %}
					<div class="form-group">
					  <div class="input-group">
						<span class="input-group-addon"><img src="{{ language.flag_url }}" title="{{ language.name }}"></span>
						<input type="text" class="form-control" name="{{ giftcategory_name }}[NotSuitable][{{ language.language_id }}]" value="{{ giftcategory_data.NotSuitable[language.language_id] ? giftcategory_data.NotSuitable[language.language_id] : default_not_eligible }}" />
					  </div>
					</div>
				  {% endfor %}
				 </div>
			  </div>

			  <br />
				{% if newAddition and newAddition == true %}
					<script>
				  autocompleteProducts();
				</script>
				{% endif %}
			</div>
        {% endfor %}
    </div>
</div>
        
<script type="text/javascript"><!--
// Add New Category
function addNewGiftCategory() {
	count = $('.gifts-list li:last-child > a').data('giftcategory-id') + 1 || 1;
	
	var ajax_data = {};
	ajax_data.store_id = '{{ store.store_id }}';
	ajax_data.giftcategory_id = count;

	$.ajax({
		url: 'index.php?route={{ modulePath }}/get_gift_settings&{{ token }}',
		data: ajax_data,
		dataType: 'html',
		beforeSend: function() {
			NProgress.start();
		},
		success: function(settings_html) {
			$('.gifts-settings').append(settings_html);
			
			if (count == 1) { $('a[href="#giftcategory_'+ count +'"]').tab('show'); }
			tpl 	= '<li>';
			tpl 	+= '<a href="#giftcategory_'+ count +'" data-toggle="tab" data-giftcategory-id="'+ count +'">';
			tpl 	+= '<i class="fa fa-pencil-square-o"></i> Gift Tier '+ count;
			tpl 	+= '<i class="fa fa-minus-circle removeGiftCategory"></i>';
			tpl 	+= '<input type="hidden" name="{{ moduleName }}[GiftCategory]['+ count +'][id]" value="'+ count +'"/>';
			tpl 	+= '</a>';
			tpl		+= '</li>';
			
			$('.gifts-list').append(tpl);
			
			NProgress.done();
			$('.gifts-list').children().last().children('a').trigger('click');
			window.localStorage['currentSubTab'] = $('.gifts-list').children().last().children('a').attr('href');
		}
	});
}

// Remove GiftCategory
function removeGiftCategory() {
	tab_link = $(event.target).parent();
	tab_pane_id = tab_link.attr('href');
	
	var confirmRemove = confirm('Are you sure you want to remove ' + tab_link.text().trim() + '?');
	
	if (confirmRemove == true) {
		tab_link.parent().remove();
		$(tab_pane_id).remove();
		
		if ($('.gifts-list').children().length > 1) {
			$('.gifts-list > li:nth-child(2) a').tab('show');
			window.localStorage['currentSubTab'] = $('.gifts-list > li:nth-child(2) a').attr('href');
		}
	}
}

// Events for the Add and Remove buttons
$(document).ready(function() {
	// Add New Gift Category
	$('.addNewGiftCategory').click(function(e) { addNewGiftCategory(); });
	// Remove Gift Category
	$('.gifts-list').delegate('.removeGiftCategory', 'click', function(e) { removeGiftCategory(); });
	autocompleteProducts();
});

function autocompleteProducts() {
	$('input[name=\'ProductsInGiftCategory\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/product/autocomplete&{{ token }}&filter_name=' +  encodeURIComponent(request) + '&reqByTieredGifts=1&filter_status=1&limit=8',
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			$(this).val('');
			$(this).parent().find('#productgift_' + item['value']).remove();
			$(this).parent().find('.product-gifts-category').append('<div id="productgift_' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="{{  moduleName }}[GiftCategory]['+$(this).data('giftcategory-id')+'][GiftProducts][]" value="' + item['value'] + '" /></div>');
		}
	});
}

$('.product-gifts-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
</script>